<div class="row">
    <div class="col-12">
        <h4>{{ 'TITLES.ADULT_REQUIREMENT' | translate }}</h4>
    </div>
</div>
<hr>
<form [formGroup]="reqAdultoForm">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.SEX' | translate }}</label>
            <select class="custom-select" class="form-control" id="sexo" formControlName="sexo">
            <option></option>
            <option value="M">{{ 'PAGES.MEASURES.COMBO.MALE_TITLE' | translate }}</option>
            <option value="F">{{ 'PAGES.MEASURES.COMBO.FEMALE_TITLE' | translate }}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.AGE' | translate }}</label>
            <input type="number" class="form-control" id="edad" formControlName="edad">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.RECOMMENDED_WEIGHT' | translate }}</label>
            <input type="number" class="form-control" id="pesoRecomendado" formControlName="pesoRecomendado">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.ACTIVITY_FACTOR' | translate }}</label>
            <select class="custom-select" class="form-control" formControlName="factoresActividad">
            <option selected></option>
            <option value="L">{{ 'PAGES.MEASURES.COMBO.MILD' | translate }}</option>
            <option value="M">{{ 'PAGES.MEASURES.COMBO.MODERATE' | translate }}</option>
            <option value="F">{{ 'PAGES.MEASURES.COMBO.STRONG' | translate }}</option>
            <option value="MF">{{ 'PAGES.MEASURES.COMBO.VERY_STRONG' | translate }}</option>
          </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.DIRECT_METHOD' | translate }}</label>
            <input type="number" class="form-control" id="kcal" formControlName="kcal">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.PHYSICAL_ACTIVITY_LEVEL' | translate }}</label>
            <select class="custom-select" class="form-control" id="nivelActividadFisica" formControlName="nivelActividadFisica">
            <option selected></option>
            <option value="L">{{ 'PAGES.MEASURES.COMBO.LIGHT' | translate }}</option>
            <option value="M">{{ 'PAGES.MEASURES.COMBO.MODERATE' | translate }}</option>
            <option value="I">{{ 'PAGES.MEASURES.COMBO.INTENSE' | translate }}</option>
        </select>
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.FAT_FREE_DOUGH' | translate }}</label>
            <input type="number" class="form-control" id="masaGrasaKg" formControlName="masaGrasaKg">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.ACTUAL_WEIGHT_C_METHOD' | translate }}</label>
            <input type="number" class="form-control" id="pesoActual" formControlName="pesoActual">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.PHYSICAL_ACTIVITY_TIME' | translate }}</label>
            <input type="number" class="form-control" id="tiempoActividadFisica" formControlName="tiempoActividadFisica">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.PHYSICAL_ACTIVITY_METRIC' | translate }}</label>
            <input type="number" class="form-control" id="met" formControlName="met">
        </div>
    </div>
    <button type="submit" [disabled]="reqAdultoForm.invalid" class="btn btn-primary"><i class="fa fa-calculator"></i>{{ 'BUTTON.CALCULATE' | translate }}</button>
</form>