<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">

                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="assets/images/faces/face1.jpg" alt="profile image">
                    </div>

                    <div class="text-wrapper">
                        <!-- <p class="profile-name">{{nombre}}</p> -->
                        <div>
                            <small class="designation text-muted">Administrador</small>
                        </div>
                    </div>
                </div>

            </div>
        </li>

        <li class="nav-item">
            <a routerLink="/" class="nav-link">
                <i class="menu-icon fa fa-tachometer-alt"></i>
                <span class="menu-title">{{ 'MENU.DASHBOARD' | translate }}</span>
            </a>
        </li>

        <li class="nav-item">
            <a (click)="goTo('pesoAjustado')" class="nav-link cursor-pointer">
                <i class="menu-icon fa fa-clipboard-list"></i>
                <span class="menu-title">{{ 'MENU.ADJUSTED_WEIGHT' | translate }}</span>
            </a>
        </li>

        <li class="nav-item">
            <a (click)="goTo('antropediaAdulto')" class="nav-link cursor-pointer">
                <i class="menu-icon fa fa-clipboard-list"></i>
                <span class="menu-title">{{ 'MENU.ADULT_ANTHROPEDIA' | translate }}</span>
            </a>
        </li>

        <li class="nav-item">
            <a (click)="goTo('requerimientoAdulto')" class="nav-link cursor-pointer">
                <i class="menu-icon fa fa-clipboard-list"></i>
                <span class="menu-title">{{ 'MENU.ADULT_REQUIREMENT' | translate }}</span>
            </a>
        </li>

        <li class="nav-item">
            <a (click)="goTo('formulaDietetica')" class="nav-link cursor-pointer">
                <i class="menu-icon fa fa-clipboard-list"></i>
                <span class="menu-title">{{ 'MENU.DIETARY_FORMULA' | translate }}</span>
            </a>
        </li>

        <li class="nav-item">
            <a (click)="cerrarSesion()" class="nav-link cursor-pointer">
                <i class="menu-icon fa fa-sign-out-alt"></i>
                <span class="menu-title">{{ 'MENU.LOGOUT' | translate }}</span>
            </a>
        </li>

    </ul>
</nav>