<div class="container">
    <h3>{{ 'TITLES.HISTORY_ADULT_ANTHROPEDIA' | translate }}</h3>
    <hr>
    <div class="form-row">
        <div class="col-sm-12">
            <ag-grid-angular style="width: 650px; height: 250px;" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged()" (gridReady)="onGridReady($event)"></ag-grid-angular>
        </div>
    </div>
    <br>
    <div *ngIf="mostrarInfoAntropedia">

        <div class="form-row">
            <div class="col-md-12">
                <b>{{ 'PAGES.HISTORY.MEASURES' | translate }} </b> {{historialAntropedia.fechaCreacion | date:'longDate'}}
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col-md-3">
                <b>{{ 'PAGES.PERSONS.SEX' | translate }}</b>&nbsp; {{ (historialAntropedia.medidasAntropedia.sexo === 'M') ? 'Masculino' : 'Femenino' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.PERSONS.AGE' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.edad }} {{ 'PAGES.HISTORY.YEARS' | translate }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.HEIGHT' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.estatura | medidas:'Mt'}}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.WEIGHT' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.peso | medidas:'K' }}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.ARM_CIRCUMFERENCE' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.cbi | medidas:'c' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.WAIST_CIRCUMFERENCE' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.ccintura | medidas:'c' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.HIP_CIRCUMFERENCE' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.ccadera | medidas:'c' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.WIRST_CIRCUMFERENCE' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.cmuneca | medidas:'c' }}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.TRICEPS_FOLD' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.ptriceps | medidas:'M' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.SUBSCAPULAR_FOLD' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.psubescapular | medidas:'M' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.BICEPS_FOLD' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.pbiceps | medidas:'M' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.SUPRAILIAC_FOLD' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.psuprailiaco | medidas:'M' }}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3">
                <b>{{ 'PAGES.HISTORY.DESIRABLE_BODY_FAT' | translate }}</b>&nbsp; {{ historialAntropedia.medidasAntropedia.porcentajeGCD | medidas:'P' }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <b>{{ 'PAGES.HISTORY.ADULT_ANTHROPEDIA_RESULTS' | translate }}</b>
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-md-5">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.CONTEXT_ESTIMATION' | translate }}</b>&nbsp; {{ historialAntropedia.antropediaAdulto.estimacionContextura | medidas:'P' }}
            </div>
            <div class="col-md-5">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.BODY_MASS_INDEX' | translate }}</b>&nbsp; {{ historialAntropedia.antropediaAdulto.estimacionIMC | medidas:'KM' }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.BODY_MASS_COMPOSITION' | translate }}</b>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.LEAN_AREA' | translate }}</b>&nbsp;{{historialAntropedia.antropediaAdulto.areaMagra | medidas:'C' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.FAT_AREA' | translate }}</b>&nbsp;{{historialAntropedia.antropediaAdulto.areaGrasa | medidas:'C' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.INDEX_WAIST_HIP' | translate }}</b>&nbsp;{{historialAntropedia.antropediaAdulto.indiceCinturaCadera | medidas:'c'}}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.INDEX_WAIST_SIZE' | translate }}</b>&nbsp;{{historialAntropedia.antropediaAdulto.indiceCinturaTalla | medidas:'c'}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.SESTRI_INDEX' | translate }}</b>&nbsp;{{historialAntropedia.antropediaAdulto.indiceSestri | medidas:'M' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.SIRI' | translate }}</b>&nbsp;{{historialAntropedia.antropediaAdulto.siri | medidas:'P' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.CIRC_WAIST' | translate }}</b>&nbsp; {{historialAntropedia.antropediaAdulto.circunsferenciaCintura | medidas:'P' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.FAT_MASS' | translate }}</b>&nbsp; {{historialAntropedia.antropediaAdulto.valorAbsoluto | medidas:'k'}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.FAT_FREE_MASS' | translate }}</b>&nbsp; {{historialAntropedia.antropediaAdulto.masaLibreGrasa | medidas:'k' }}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.HAMWI' | translate }}</b>&nbsp; {{historialAntropedia.antropediaAdulto.hamwi | medidas:'k' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.WEST' | translate }}</b>&nbsp; {{historialAntropedia.antropediaAdulto.west | medidas:'k' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.BROCA' | translate }}</b>&nbsp; {{historialAntropedia.antropediaAdulto.broca | medidas:'k' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.IMC' | translate }}</b>&nbsp; {{historialAntropedia.antropediaAdulto.derivadaIMC | medidas:'k' }}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-4">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.MLG_WEIGHT' | translate }}</b>&nbsp; {{historialAntropedia.antropediaAdulto.pesoDeseableMLG | medidas:'k' }}
            </div>
        </div>

    </div>
</div>