<div class="row">
    <div class="col-12">
        <h4>{{ 'TITLES.ADULT_ANTHROPEDIA' | translate }}</h4>
    </div>
</div>
<hr>
<form [formGroup]="antropediaForm" (ngSubmit)="calcularAntropediaAdulto()" *ngIf="!respuesta">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.SEX' | translate }}</label>
            <select [class.is-invalid]="sexo.invalid && sexo.touched" class="custom-select" class="form-control" id="sexo" formControlName="sexo">
            <option></option>
            <option value="M">{{ 'PAGES.MEASURES.COMBO.MALE_TITLE' | translate }}</option>
            <option value="F">{{ 'PAGES.MEASURES.COMBO.FEMALE_TITLE' | translate }}</option>
          </select>
            <small class="text-danger " *ngIf="sexo.invalid && sexo.touched ">{{ 'VALIDATIONS.MEASURES.SEX' | translate }}</small>
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.AGE' | translate }}</label>
            <input [class.is-invalid]="edad.invalid && edad.touched" type="number" class="form-control" id="edad" formControlName="edad">
            <small class="text-danger " *ngIf="edad.invalid && edad.touched ">{{ 'VALIDATIONS.MEASURES.AGE' | translate }}</small>
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.HEIGHT' | translate }}</label>
            <input [class.is-invalid]="estatura.invalid && estatura.touched" type="number" class="form-control" id="estatura" formControlName="estatura">
            <small class="text-danger " *ngIf="estatura.invalid && estatura.touched ">{{ 'VALIDATIONS.MEASURES.HEIGHT' | translate }}</small>
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.WEIGHT' | translate }}</label>
            <input [class.is-invalid]="peso.invalid && peso.touched" type="number" class="form-control" id="peso" formControlName="peso">
            <small class="text-danger " *ngIf="peso.invalid && peso.touched ">{{ 'VALIDATIONS.MEASURES.WEIGHT' | translate }}</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.WIRST_CIRCUMFERENCE' | translate }}</label>
            <input type="number" class="form-control" id="cmuneca" formControlName="cmuneca">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.ARM_CIRCUMFERENCE' | translate }}</label>
            <input type="number" class="form-control" id="cbi" formControlName="cbi">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.WAIST_CIRCUMFERENCE' | translate }}</label>
            <input type="number" class="form-control" id="ccintura" formControlName="ccintura">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.HIP_CIRCUMFERENCE' | translate }}</label>
            <input type="number" class="form-control" id="ccadera" formControlName="ccadera">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.TRICEPS_FOLD' | translate }}</label>
            <input type="number" class="form-control" id="ptriceps" formControlName="ptriceps">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.SUBSCAPULAR_FOLD' | translate }}</label>
            <input type="number" class="form-control" id="psubescapular" formControlName="psubescapular">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.BICEPS_FOLD' | translate }}</label>
            <input type="number" class="form-control" id="pbiceps" formControlName="pbiceps">
        </div>
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.SUPRAILIAC_FOLD' | translate }}</label>
            <input type="number" class="form-control" id="psuprailiaco" formControlName="psuprailiaco">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>{{ 'PAGES.MEASURES.DESIRABLE_BODY_FAT' | translate }}</label>
            <input type="number" class="form-control" id="porcentajeGCD" formControlName="porcentajeGCD">
        </div>
    </div>
    <button type="submit" [disabled]="antropediaForm.invalid" class="btn btn-primary"><i class="fa fa-calculator"></i>{{ 'BUTTON.CALCULATE' | translate }}</button>
</form>
<div *ngIf="respuesta">
    <div *ngIf="antropediaAdultoRes">
        <div class="form-row">
            <div class="col-md-6">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.CONTEXT_ESTIMATION' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.estimacionContextura}}
            </div>
            <div class="col-md-6">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.BODY_MASS_INDEX' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.estimacionIMC}}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-12">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.BODY_MASS_COMPOSITION' | translate }}</b>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.LEAN_AREA' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.areaMagra | medidas:'C'}}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.FAT_AREA' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.areaGrasa | medidas:'C'}}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.INDEX_WAIST_HIP' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.indiceCinturaCadera | medidas:'c'}}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.INDEX_WAIST_SIZE' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.indiceCinturaTalla | medidas:'c'}}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.SESTRI_INDEX' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.indiceSestri | medidas:'M' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.SIRI' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.siri | medidas:'P'}}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.CIRC_WAIST' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.circunsferenciaCintura | medidas:'P'}}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.FAT_MASS' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.valorAbsoluto | medidas:'K' }}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.FAT_FREE_MASS' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.masaLibreGrasa | medidas:'K' }}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.IDEAL_WEIGHT' | translate }}</b>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.HAMWI' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.hamwi | medidas:'K' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.WEST' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.west | medidas:'K' }}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.BROCA' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.broca | medidas:'K'}}
            </div>
            <div class="col-md-3">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.IMC' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.derivadaIMC | medidas:'K' }}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-4">
                <b>{{ 'PAGES.ANSWERS.ADULT_ANTHROPEDIA.MLG_WEIGHT' | translate }}</b> &nbsp;&nbsp; {{antropediaAdultoRes.pesoDeseableMLG | medidas:'K'}}
            </div>
        </div>
        <br>
        <div class="form-row mt-2">
            <div class="col-md-6">
                <button class="btn btn-success" (click)="volver() "><i class="fa fa-backward "></i>&nbsp;&nbsp;{{ 'BUTTON.BACK' | translate }}</button>
            </div>
        </div>
    </div>
</div>